h2{
    text-align: center;
    margin-top: 50px;
}
.empty-wishlist {
    color: #000000;
    font-family: inherit;
    font-size: 18px;
    background-color: #eeeeee;
    border-color: #eeeeee;
    text-align: center;
    margin-top: 100px;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-info {
    border-color: #f0f0f0 ;
   
}
.empty-wishlist {
    width: 57%;
    margin: 30px auto ;
    padding: 7px 10px;
    background-color: #f7f6f6 ;
    color: #5c5c5c ;
    
}